div{
    border: 1px solid black;
    height: 70px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    background-color: lightskyblue;
}
p{
    /* float: top: ;; */
    position: absolute;
    top: 0px;
}