/* app-header-comp{
    /* border: 1px solid black;
    height: 150px;
    margin-bottom: 15px;
} */

#flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#flex>*{
    border: 1px solid black;
    background-color: lightskyblue;
}
app-nav-comp{
    width: 30%;
    /* height: 250px; */
    position: relative;
    background-color: lightskyblue;
}
app-main-comp{
    width: 60%;
    /* height: 250px; */
    position: relative;
}